<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/style.css" />
        <title>Activitati</title>
    </head>
    <body>
        <header>
            <nav id="navbar-placeholder" class="container"></nav>
        </header>

        <section class="container">
            <h2 class="h2-font-size headding-b-centre">Activitati</h2>
            <div class="row img-text">
                <div class="border">
                    <img
                        src="../assets/p6 noaptea cercetatorilor.jpg"
                        alt="noaptea cercetatorilor"
                        class="responsive-img"
                    />
                    <p class="paragraph">
                        🔎 Evenimentul „Noaptea cercetătorilor” a fost o
                        oportunitate excepțională de a sărbători frumusețea și
                        complexitatea științei.
                        <br />✒️ Reprezentând Facultatea de Litere, echipa TESI
                        a întâlnit oameni dornici de cunoaștere alături de care
                        a explorat traducerea de subtitrări. <br />📚 Am fost
                        încântați să le prezentăm tuturor vizitatorilor
                        activitatea noastră prin demonstrații interactive,
                        precum și printr- o serie de cadouri creative pentru ei:
                        magneți personalizați, semne de carte unice și jocuri de
                        tip rebus, menite să aducă un strop de distracție și
                        provocare. <br />💡Așteptăm cu nerăbdare să ne revedem
                        cu același entuziasm și ediția viito
                    </p>
                </div>
                <div class="border">
                    <img
                        src="../assets/p5 atelier de traducere.jpg"
                        alt="atelier de traducere"
                        class="responsive-img"
                    />
                    <p class="paragraph">
                        📌În cadrul Atelierelor de Traducere (ediția a VI-a),
                        organizate la Facultatea de Litere, TESI a susținut un
                        workshop intitulat „Translating in Social
                        Entrepreneurship.” <br />🙏Atelierul a oferit
                        participanților o incursiune captivantă în munca de
                        traducător și în rolul de voluntar într-un proiect de
                        antreprenoriat social. <br />🤝Tinerii au explorat atât
                        complexitatea traducerii și provocările acesteia, cât și
                        resursele care ușurează acest proces. Totodată, au
                        descoperit impactul pe care implicarea voluntară îl
                        poate avea în proiectele ce vizează schimbarea pozitivă
                        în comunitate.
                    </p>
                </div>
                <div class="border">
                    <img
                        src="../assets/p4 b2s.jpg"
                        alt="back to school"
                        class="responsive-img"
                    />

                    <p class="paragraph">
                        Dragi studenți, 🎉Suntem încântați să fim alături de voi
                        și în acest <b>𝖓𝖔𝖚 𝖈𝖆𝖕𝖎𝖙𝖔𝖑</b>. <br />
                        💫 Sperăm să fiți inspirați și motivați să vă urmați
                        pasiunile și să vă depășiți limitele. <br />
                        📚 Să fie un an memorabil, plin de realizări și
                        experiențe frumoase! 🗣 Noi vom fi aici, gata să traducem
                        orice <b>𝐩𝐫𝐨𝐯𝐨𝐜𝐚𝐫𝐞</b> într-o <b>𝐬𝐨𝐥𝐮ț𝐢𝐞</b>!
                    </p>
                </div>
                <div class="border">
                    <img
                        src="../assets/p3 snpmm.jpg"
                        alt="snpmm"
                        class="responsive-img"
                    />

                    <p class="paragraph">
                        💫Echipa TESI a fost prezentă astăzi,5 iunie 2024, în
                        cadrul evenimentului “Studenții noștri pot mai mult”!
                        <br />💃A fost o zi plină de distracție, zâmbete și
                        multe momente artistice menite să destindă atmosfera.
                        <br />📚 Ne-am bucurat să cunoaștem mulți oameni
                        interesați de domeniul traducerii și așteptăm cu
                        nerăbdare să continuăm această experiență minunată
                        împreună cu voi în ziua următoare.
                        <br />
                        🙏🏻Mulțumim că ne-ați fost alături și vă așteptăm mâine
                        la încă o zi plină de surprize și activități
                        interesante!
                    </p>
                </div>
                <div class="border">
                    <img
                        src="../assets/velovan.jpg"
                        alt="velovan"
                        class="responsive-img"
                    />
                    <div>
                        <p class="paragraph">
                            🌐 Elevii Colegiului Național "Ștefan Velovan" au
                            explorat cu fascinație lumea traducerii în cadrul
                            workshopului TESI. <br />
                            📚 În primul workshop am împărtășit nu doar
                            cunoștințe teoretice, ci și experiențe practice,
                            oferindu-le o perspectivă autentică asupra a ceea ce
                            înseamnă să fii traducător în lumea modernă. 💭
                            <br />
                            🥳Mulțumim elevilor pentru interesul oferit și
                            cadrelor didactice pentru tot suportul iar noi vă
                            așteptăm cu același entuziasm și la următorul
                            workshop!
                        </p>
                    </div>
                </div>
                <div class="border">
                    <img
                        src="../assets/universitate.jpg"
                        alt="universitate"
                        class="responsive-img"
                    />
                    <p class="paragraph">
                        Astăzi,15 noiembrie 2023, a avut loc primul workshop
                        marca TESI alături de studenții Universității din
                        Craiova! <br />
                        📖 Workshopul "Tehnici și provocări în traducere-de la
                        digitalizare la globalizare" a reprezentat primul pas în
                        înțelegerea modului de lucru al traducătorilor,
                        prezentând resurse utile și fascinante în traducere.
                    </p>
                </div>
            </div>
        </section>

        <footer>
            <div id="contacte-placeholder" class="container row"></div>
        </footer>

        <script src="../js/script.js"></script>
    </body>
</html>
