<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/style.css" />
        <title>Activitati</title>
    </head>
    <body>
        <header>
            <nav id="navbar-placeholder" class="container"></nav>
        </header>

        <section class="container row">
            <h2>Activitati</h2>
            <div class="row img-text">
                <div>
                    <img
                        src="../assets/velovan.jpg"
                        alt="velovan"
                        class="responsive-img"
                    />
                </div>
                <div>
                    <p>
                        🌐 Elevii Colegiului Național "Ștefan Velovan" au
                        explorat cu fascinație lumea traducerii în cadrul
                        workshopului TESI. <br />
                        📚 În primul workshop am împărtășit nu doar cunoștințe
                        teoretice, ci și experiențe practice, oferindu-le o
                        perspectivă autentică asupra a ceea ce înseamnă să fii
                        traducător în lumea modernă. 💭 <br />
                        🥳Mulțumim elevilor pentru interesul oferit și cadrelor
                        didactice pentru tot suportul iar noi vă așteptăm cu
                        același entuziasm și la următorul workshop!
                    </p>
                </div>
            </div>
            <div class="row img-text">
                <div>
                    <img
                        src="../assets/universitate.jpg"
                        alt="universitate"
                        class="responsive-img"
                    />
                </div>
                <div>
                    <p>
                        Astăzi,15 noiembrie 2023, a avut loc primul workshop
                        marca TESI alături de studenții Universității din
                        Craiova! <br />
                        📖 Workshopul "Tehnici și provocări în traducere-de la
                        digitalizare la globalizare" a reprezentat primul pas în
                        înțelegerea modului de lucru al traducătorilor,
                        prezentând resurse utile și fascinante în traducere.
                    </p>
                </div>
            </div>


        </section>

        <footer>
            <div id="contacte-placeholder" class="container row"></div>
        </footer>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                fetch("./reusable/navbar.html")
                    .then((response) => response.text())
                    .then((data) => {
                        document.getElementById(
                            "navbar-placeholder"
                        ).innerHTML = data;
                    })
                    .catch((error) =>
                        console.error("Error loading navbar", error)
                    );
                fetch("./reusable/contacte.html")
                    .then((response) => response.text())
                    .then((data) => {
                        document.getElementById(
                            "contacte-placeholder"
                        ).innerHTML = data;
                    });
            });
        </script>
    </body>
</html>
