<h2 class="h2-font size headding-b-centre">Contacte</h2>
<ul class="row">
    <li>
        <img
            src="../assets/icon/facebook.svg"
            alt="facebook"
            class="contacte-logo"
        /><a
            href="https://www.facebook.com/profile.php?id=100089695477860"
            class="link"
            >Facebook</a
        >
    </li>
    <li>
        <img
            src="../assets/icon/instagram.svg"
            alt="instagram"
            class="contacte-logo"
        /><a
            href="https://www.instagram.com/tesi.office?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            class="link"
            >Instagram</a
        >
    </li>
    <li>
        <img
            src="../assets/icon/email.svg"
            alt="email"
            class="contacte-logo"
        />tesi.office10@gamil.com
    </li>
    <li>
        <img
            src="../assets/icon/phone.svg"
            alt="telefon"
            class="contacte-logo"
        />
        0737112531
    </li>
</ul>
