<h2>Contacte</h2>
<ul>
    <li>
        <img
            src="../assets/icon/facebook.png"
            alt="facebook"
            class="contacte-img"
        /><a href="https://www.facebook.com/profile.php?id=100089695477860"
            >Facebook</a
        >
    </li>
    <li>
        <img
            src="../assets/icon/instagram.png"
            alt="instagram"
            class="contacte-img"
        /><a
            href="https://www.instagram.com/tesi.office?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            >Instagram</a
        >
    </li>
    <li>
        <img
            src="../assets/icon/email.png"
            alt="email"
            class="contacte-img"
        />tesi.office10@gamil.com
    </li>
    <li>
        <img
            src="../assets/icon/phone-call.png"
            alt="telefon"
            class="contacte-img"
        />
        0737112531
    </li>
</ul>
