@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --indian-red: #df5353ff;
    --backgrounde: #f6a566ff;
    --magnolia: #faf2f9ff;
    --wine: #592930ff;
    --eminence: #6d458aff;

    /* try */
    /* Primary Colors */
    --buttons-Deep-Coral: #ff6f61;/*- A warm, energetic color for primary accents and buttons. */
    --highlighter-Soft-Gold: #f4c95d; /*- A subtle yet vibrant color for highlights or banners. */
    /* secondary */
    --links-cool-aqua: #4abdac; /*To create contrast and a fresh look, perfect for links or sections. */
    --elements-lavender-mist: #e3dfff; /*A light, neutral color for background elements to balance the vibrant tones. */
    /* Neutral Colors */
    --text-Charcoal-Gray: #3e3e3e; /*A deep, neutral shade for text or dark elements. */
    --background-Pearl-White: #ffffff; /*Clean and minimal, suitable for backgrounds or whitespace. */

}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Roboto Mono", "Lato", sans-serif;
    font-size: 1.1rem;
    
}

body {
    background-color: var(--background-Pearl-White);
    color: var(--text-Charcoal-Gray);
}

html {
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding: 1rem 10rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 0.5rem;
}
.paragraph {
    text-align: justify;
    padding: 0.3rem;
}
.card-logo {
    width: 46px;
    height: 46px;
}
.h1-font-size {
    font-size: 1.5rem;
}

.h2-font-size {
    font-size: 1.4rem;
}
.h3-font-size {
    font-size: 1.3rem;
}

.headding-b-centre {
    font-weight: bolder;
    text-align: center;
    flex: 100%;
    padding: 0.3rem;
}
.contacte-logo {
    width: 32px;
    height: 32px;
    padding: 0.2rem;
    display: block;
}
.responsive-img {
    width: 250px;
    height: 100%;
    border-radius: 10px;
    padding: 0.3rem;
}

#navbar-placeholder {
    display: flex;
    background-color: var(--highlighter-Soft-Gold);
    justify-content: space-between;
}

#navbar-placeholder > .row {
    display: flex;
    gap: 1rem 1rem;
    justify-content: end;
}

#navbar-placeholder li {
    padding: 0.3rem 0.5rem;
    letter-spacing: 0.2rem;
}

.link {
    color: var(--links-cool-aqua)

}

.link:hover {
    filter: brightness(120%);   
}

.img-text {
    background-color: var(--elements-lavender-mist);
    padding: 1rem;
}
.img-text div {
    flex-basis: 350px;
    margin: 1rem 0;
    text-align: center;
    
}

.border{
    border-radius: 10px;
    border-color: var(--highlighter-Soft-Gold);
    border-width: 2px;
    border-style: solid;
}

.card {
    background-color: var(--elements-lavender-mist);
    max-width: 280px;
    flex-direction: column;
    padding: 0.3rem 0.3rem;
    text-align: center;
}

#contacte-placeholder{
    background-color: var(--highlighter-Soft-Gold);

}
#contacte-placeholder li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}


@media screen and (max-width: 576px) {
    .container {
        padding: 0.5rem 1rem; /* Adjusted for small screens */
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        padding: 1rem 3rem; /* Adjusted for medium screens */
    }
}

@media screen and (min-width: 993px) {
    .container {
        padding: 1rem 6rem; /* Adjusted for large screens */
    }
}



